---
layout: default
---

<div class="home">

  <!-- a href="#en">English</a --!>
  <a href="#es">Castellano</a>
  <a href="#cat">Catalan</a>
  <!-- a href="#it">Italiano</a --!>

  <!-- div id="en">{% include _about.html locale=site.data.en %}</div --!>
  <div id="es">{% include _about.html locale=site.data.es %}</div>
  <div id="cat">{% include _about.html locale=site.data.cat %}</div>
  <!-- div id="it">{% include _about.html locale=site.data.it %}</div --!>

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>

</div>
